<html>
  <body>

  <form action="upload.php" method="post"
    enctype="multipart/form-data">
    <label for="file">
      File:
    </label>
    <input type="file" name="file" id="file"><br>
    <select name="time">
      <option value="hour">hour</option>
      <option value="day">day</option>
      <option value="week">week</option>
      <option value="month">month</option>
    </select>
    <br>
    <br>
    <br>
    <input type="submit" name="submit" value="Upload">
  </form>

  </body>
</html> 
